@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.main-header {
  margin: 0;
  padding: 0;
}
.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.welcome {
  background-color: #aaa2a2;
  background-image: url("../image/decoration/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 485px;
  padding-top: 51px;
  margin-bottom: 69px;
}

/* .welcome::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background: url('../image/decoration/Vector.svg') no-repeat 0 0;
} */

.advantage-block {
  margin-bottom: 69px;
}

.main-index {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item-nodivaise {
  display: flex;
  flex-wrap: nowrap;
}

.advantage-geography,
.service-sedona-text1,
.seach-interest {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantage-geography {
  padding-left: 290px;
  padding-right: 290px;
}

.advantage-text,
.service-sedona-text2,
.seach-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-title,
.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description,
.services-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.services-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-item {
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  background-color: #83B3D3;
}
.services-item:nth-child(2n+2) {
  background-color: inherit;
}
.services-title {
  margin-bottom: 30px;
}

.newsletter {
  background-image: url("../image/decoration/canion.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: #ffffff;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.begin-filter {
  color: #ffffff;
  background-color: #989595;
  background-image: url("../image/decoration/fone-filter.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  margin-right: 40px;
}

.content-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-label {
  line-height: 23px;
}

.sorting-section-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-section-select-control {
  font-size: 18px;
  line-height: 21px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.product-card-type,
.product-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #ffffff;
  color: #000000;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  margin-right: auto;
  width: 360px;
  list-style: none;
}

.footer-developer {
  width: 115px;
  margin-left: auto;
}

.begin-filter {
  padding: 35px 70px 70px 70px;
}

.content-filter {
  display: flex;
  justify-content: space-between;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-products {
  margin: 50px 70px 60px 70px;
}

.catalog-sorting {
  display: flex;
  margin-bottom: 40px;
}
.sorting-section-found {
 margin: 0;
 padding-top: 5px;
}
.sorting-section-select-control {
  width: 292px;
  height: 49px;
  margin: auto;
}
.pagination {
  display: flex;
  list-style: none;
  margin:0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.search-item-block {
  padding-top: 96px;
}
