@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
.page-container {
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.main-header {
  margin: 0;
  padding: 0;
}
.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

.navigation {
  display: flex;
  position: relative;
  padding-left: 238px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-left: auto;
}
.button-navigation {
  padding: 8px 34px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.navigation-logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}
.welcome {
  background-color: #aaa2a2;
  background-image: url("../image/decoration/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 485px;
  padding-top: 51px;
  margin-bottom: 69px;
  padding-bottom: 78px;
  box-sizing: border-box;
}

/* .welcome::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background: url('../image/decoration/Vector.svg') no-repeat 0 0;
} */

.advantage-block {
  margin-bottom: 69px;
}

.main-index {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}
.advantages-item-picture {
  display: flex;
  background-color: #82B3D3;
}
advantages-item-picture-reverse {
  flex-direction: row-reverse;
}
.advantage-geography,
.service-sedona-text1,
.search-interest, .newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.search-interest {
  margin-top: 0;
}
.advantage-geography {
  width: 660px;
  margin: 0 auto 25px;
}

.advantage-text,
.service-sedona-text2,
.search-description, .newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.search-description {
  width: 592px;
  margin: 0 auto 54px;
}
.advantage-text {
  margin: 0 auto 89px;
  width: 700px;
}
.advantages-title,
.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description,
.services-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.newsletter-description {
  width: 475px;
  margin: 0 auto 54px;
}
.button-newsletter {
  background-color: #82B3D3;
  padding: 8px 50px;
  border-style: none;
}
#newsletter-email {
  border-style: none;
  width: 452px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background-color: #F2F2F2;
}
.newsletter-form {
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.service-sedona-text1 {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
}
.service-sedona-text2 {
  width: 490px;
  margin: 0 auto;
  padding-bottom: 64px;
}
.services-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item:nth-child(2n+2) {
  background-color: inherit;
}
.services-title {
  margin-bottom: 30px;
}

.newsletter {
  background-image: url("../image/decoration/canion.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: #ffffff;
  padding: 96px 258px 104px 258px;
  text-align: center;
}
.newsletter-fone-none {
  background: transparent;
  color:#333333;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #242424;
}

.begin-filter {
  color: #ffffff;
  background-color: #989595;
  background-image: url("../image/decoration/fone-filter.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
}

.content-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.content-filter-item {
  margin-bottom: 16px;
}
.content-filter-item:last-child {
  margin-bottom: 0;
}

.button-filter {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.control-label {
  line-height: 23px;
}
.content-filter-group {
  border-style: none;
  padding-right: 70px;
  padding-left: inherit;
}
.content-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-filter-submit {
  background-color: #82B3D3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-filter-reset {
  background: transparent;
  border-style: none;
  padding: 8px 50px;
}
.sorting-section-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-section-select-control {
  font-size: 18px;
  line-height: 21px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.product-card-type,
.product-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #ffffff;
  color: #000000;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}
.footer-contacts {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-social-item {
  width: 48px;
  height: 40px;
}
.footer-developer {
  margin-left: auto;
}

.content-filter {
  display: flex;
  justify-content: space-between;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px 20px;
  margin-bottom: 20px;
}

.catalog-products {
  margin: 50px 70px 60px 70px;
}
.product-card-button {
  padding: 8px 26px;
}
.product-card-button-favourites {
  padding: 8px 26px;
  background-color: #82B3D3;
}
.product-card-button-in-favorites {
  padding: 8px 26px;
  background-color: #7DB54F;
}
.catalog-sorting {
  display: flex;
  margin-bottom: 40px;
}
.sorting-section-found {
 margin: 0;
 padding-top: 5px;
}
.sorting-section-select-control {
  width: 292px;
  height: 49px;
  margin: auto;
}
.pagination {
  display: flex;
  list-style: none;
  margin:0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.search-item {
  padding-top: 96px;
  padding-bottom: 96px;
}
.search-item-block {
  margin: 0 auto;
}
.button-search {
  padding: 8px 50px;
}
